:root {
    --main-bg-color: rgb(255, 246, 236);
    --lf-color-red: #EB2945;
    --lf-color-cerise: #F13C89;
    --lf-color-plum: #B53C8E;
    --lf-color-grape: #7C6374;
    --lf-color-orange: #F39200;
    --lf-color-yellow: #FDC300;
    --lf-color-lightgrey: #F8F8F8;
    --lf-color-warmgray: #EFEFEF;
    --lf-color-blue: #0075AA;
    --lf-color-green: #00B27A;
    --lf-color-sand1: #FFF1E0;
    --lf-color-sand2: #FFF6EC;
    /* forms */
    --frm-txtinput-bg-color: var(--lf-color-lightgrey);
    --frm-txtinput-border-color: black;
    --frm-txtinput-border-radius: 4px;
    --frm-txtinput-color: black;
    --frm-txtinput-width: 250px;
    /* form button */
    --btn-border-color: black;
    --btn-bg-color: var(--lf-color-warmgray);
    --btn-color: black;
    --btn-width: 120px;
    /*logo area colors */
    --logo-bg-color: var(--lf-color-grape);
    --logo-front-color: var(--lf-color-warmgray);
    /*exit button stuff*/
    --btn-size: 16px;
    --btn-border: 1px;
    --btn-border-highlight: rgb(185, 185, 185);
    --btn-border-lowlight: rgb(119, 119, 119);
    --btn-color-back: rgb(248, 248, 248);
    --btn-color-front: var(--lf-color-red);
    /*form stuff*/
    --frm-text-input-width: 100%;
    --frm-text-input-height: 35px;
    --frm-border: 1px;
    --frm-border-color: var(--btn-border-highlight);
    --frm-color-back: var(--btn-color-back);
    --frm-color-front: black;
    --frm-border-radius: 3px;
}