:root {
    --main-bg-color: #ffffff;
    --lf-color-red: #EB2945;
    --lf-color-cerise: #F13C89;
    --lf-color-plum: #B53C8E;
    --lf-color-grape: #7C6374;
    --lf-color-orange: #F39200;
    --lf-color-yellow: #FDC300;
    --lf-color-lightgrey: #F8F8F8;
    --lf-color-warmgray: #EFEFEF;
    --lf-color-blue: #0075AA;
    --lf-color-green: #00B27A;
    --lf-color-sand1: #FFF1E0;
    --lf-color-sand2: #FFF6EC;
    /* forms */
    --frm-txtinput-bg-color: var(--lf-color-lightgrey);
    --frm-txtinput-border-color: black;
    --frm-txtinput-border-radius: 4px;
    --frm-txtinput-color: black;
    --frm-txtinput-width: 250px;
    /* form button */
    --btn-border-color: black;
    --btn-bg-color: var(--lf-color-warmgray);
    --btn-color: black;
    --btn-width: 120px;
}